### Importar librerias

In [5]:
import pandas as pd
import queue

### Leer dataset

In [25]:
data = pd.read_csv("Titanic.csv")
data

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,27.00,male,0
1309,"Zakarian, Mr Maprieder",3rd,26.00,male,0
1310,"Zenni, Mr Philip",3rd,22.00,male,0
1311,"Lievens, Mr Rene",3rd,24.00,male,0
1312,"Zimmerman, Leo",3rd,29.00,male,0

### Estructura del árbol

In [23]:
class Arbol:
    def __init__(self, raiz):
        self.hijos = []
        self.raiz = raiz


    def agregarElemento(self, nodo, nodoPadre):
        subarbol = self.buscarSubarbol(nodoPadre)
        subarbol.hijos.append(Arbol(nodo))
    
    
    def buscarSubarbol(self, nodo):
        if self.raiz == nodo:
            return self
        for subarbol in self.hijos:
            arbolBuscado = subarbol.buscarSubarbol(nodo)
            if (arbolBuscado != None):
                return arbolBuscado
        return None  

    
    def profundidad(self):
        if len(self.hijos) == 0: 
            return 1
        else:
            maxprof = 0;
            for subarbol in self.hijos:
                prof = subarbol.profundidad()
                if prof > maxprof:
                    maxprof = prof
            return maxprof + 1
    
    
    def grado(self, num):
        num += 1
        for hijo in self.hijos:
            grado(hijo, num)
    
    
    def printArbolProfundidad(self, level = 0):
        print("|" + "-" * level * 20 + " " + self.raiz)
        for hijo in self.hijos:
            hijo.printArbolProfundidad(level+1)
    
    
    def printArbolAnchura(self, cola = queue.Queue()):
        print(self.raiz)
        if(len(self.hijos) > 0):
            for hijo in self.hijos:
                cola.put(hijo)
        if(cola.qsize() != 0):
            cola.get().printArbolAnchura(cola)

In [24]:
abuela = "Jacqueline Gurney"
marge = "Marge Bouvier"
patty = "Patty Bouvier"
selma = "Selma Bouvier"
bart = "Bart Simpson"
lisa = "Lisa Simpson"
maggie = "Maggie Simpson"
ling = "Ling Bouvier"

arbol = Arbol(abuela)
arbol.agregarElemento(patty, abuela)
arbol.agregarElemento(selma, abuela)
arbol.agregarElemento(ling, selma)
arbol.agregarElemento(marge, abuela)
arbol.agregarElemento(bart, marge)
arbol.agregarElemento(lisa, marge)
arbol.agregarElemento(maggie, marge)

print(arbol.profundidad())
arbol.printArbolProfundidad()
arbol.printArbolAnchura()

3
| Jacqueline Gurney
|-------------------- Patty Bouvier
|-------------------- Selma Bouvier
|---------------------------------------- Ling Bouvier
|-------------------- Marge Bouvier
|---------------------------------------- Bart Simpson
|---------------------------------------- Lisa Simpson
|---------------------------------------- Maggie Simpson
Jacqueline Gurney
Patty Bouvier
Selma Bouvier
Marge Bouvier
Ling Bouvier
Bart Simpson
Lisa Simpson
Maggie Simpson